* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

:root {
  // colors
  --white: #fff;
  --off-white: #ccc;

  // media queries
  --tablet: 768px;
  --large: 1024px;
  --desktop: 1280px;
}
