:root {
  --white: #fff;
  --off-white: #ccc;

  --tablet: 768px;
  --large: 1024px;
  --desktop: 1280px;

  --bg-gradient: linear-gradient(
    40deg,
    hsl(240deg 100% 20%) 0%,
    hsl(230deg 57% 33%) 10%,
    hsl(214deg 52% 42%) 20%,
    hsl(199deg 54% 49%) 29%,
    hsl(188deg 73% 54%) 39%,
    hsl(180deg 100% 50%) 49%,
    hsl(180deg 76% 63%) 58%,
    hsl(179deg 51% 64%) 69%,
    hsl(179deg 29% 63%) 79%,
    hsl(178deg 11% 61%) 89%,
    hsl(0deg 2% 57%) 100%
  );
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
